@font-face {
  font-family: 'helvetica Extended';
  src: url('https://cdn.jsdelivr.net/gh/MartuRiesco/yokohama/Helvetica%20Neue%20LT%20Std%2093%20Black%20Extended/Helvetica%20Neue%20LT%20Std%2093%20Black%20Extended.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
